:root {
  --after-background-color: yellow;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #f1faee;
  overflow-x: hidden;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.main-container section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.main-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.main-container .overlay .menu {
  min-width: 400px;
  min-height: 250px;
  width: 50vw;
  height: 40vh;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 400ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 400ms ease-out, -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out, opacity 400ms ease-out;
  transition: transform 300ms ease-out, opacity 400ms ease-out, -webkit-transform 300ms ease-out;
}

.main-container .overlay .menu label, .main-container .overlay .menu button {
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.5rem;
}

.main-container .overlay .menu .game-type {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  margin-bottom: 1rem;
}

.main-container .overlay .menu .game-type span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container .overlay .menu .game-type span button {
  color: #50178b;
  border: #50178b 2px solid;
  margin-right: 20px;
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.main-container .overlay .menu .game-type span button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.main-container .overlay .menu .game-difficulty {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

.main-container .overlay .menu .game-difficulty span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container .overlay .menu .game-difficulty span button {
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out, -webkit-transform 200ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out, transform 200ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out, transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.main-container .overlay .menu .game-difficulty span button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.main-container .overlay .menu .game-difficulty button:nth-child(1) {
  border: #3e8f24 2px solid;
  color: #3e8f24;
}

.main-container .overlay .menu .game-difficulty button:nth-child(2) {
  border: #a3a300 2px solid;
  color: #a3a300;
  margin: 0px 30px;
}

.main-container .overlay .menu .game-difficulty button:nth-child(3) {
  border: #a30500 2px solid;
  color: #a30500;
}

.main-container .overlay .menu .start-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  border: #3e8f24 2px solid;
  background-color: #3e8f24;
  color: white;
  -webkit-transition: background-color 200ms ease-out, width 200ms ease-out;
  transition: background-color 200ms ease-out, width 200ms ease-out;
}

.main-container .overlay .menu .loading {
  font-size: 1.5rem;
  color: white;
  display: none;
}

.upper-container {
  position: relative;
  background-color: #3e8f24;
  -webkit-transition: background-color 700ms ease-out;
  transition: background-color 700ms ease-out;
}

.upper-container .restart-btn {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.upper-container .word {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.upper-container .word .letter {
  position: relative;
  height: 5rem;
  width: 4rem;
  font-size: 3rem;
  color: white;
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: padding 400ms ease-in-out, margin 400ms ease-in-out, font-size 400ms ease-in-out;
  transition: padding 400ms ease-in-out, margin 400ms ease-in-out, font-size 400ms ease-in-out;
}

.upper-container .word .letter::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  background-color: var(--after-background-color);
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.upper-container .word-input {
  outline: none;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  height: 3rem;
  width: 15rem;
  text-align: center;
  border-radius: 10px;
  font-size: 2rem;
  border: none;
  border: #7a7878 2px solid;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
  caret-color: transparent;
  outline: none;
  -webkit-transition: border 200ms linear;
  transition: border 200ms linear;
}

.upper-container .word-input:focus {
  border: black 2px solid;
}

.upper-container .answers-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 100%;
}

.upper-container .answers-list .answer {
  color: white;
  font-size: 2rem;
  margin: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}

.lower-container {
  background-color: red;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes drop-down {
  from {
    opacity: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
}

@keyframes drop-down {
  from {
    opacity: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
}

@-webkit-keyframes show-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    opacity: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    opacity: 100;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */