$background-color: hsl(105, 60, 35);
$top-color: hsl(105, 60, 35);
$mid-color: hsl(60, 100%, 32%);
$low-color: hsl(2, 100%, 32%);
$extra-color: #50178b;
$quick-buttons-color: #47157c;
$missing-letter: hsl(0, 82%, 40%);

:root {
    --after-background-color: yellow;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body {
    height: 100vh;
    background-color: #f1faee;
    overflow-x: hidden;
}

.window {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
    color: black;
    padding: 1rem;
    z-index: 7;
}

.white-loader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 200vh;
    width: 100vw;
    background-color: white;
    z-index: 7;
}

.welcome {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 6;
    transition:  opacity 400ms ease-out;

    .green-slide {
        height: 100vh;
        width: 100vw;
        background-color: $top-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 400ms ease-in;
        
        .title {
            color: white;
            font-weight: bolder;
            font-size: 4rem;
            border: white 5px dashed;
            padding: 1rem;
            border-radius: 15px;
            text-align: center;
        }

        .load {
            color: white;
            font-size: 3rem;
            margin-top: 3rem;
        }
    }
}

.warning {
    display: none;
    z-index: 7;
    position: absolute;
    top: 1rem;
    left: 3rem;
    right: 3rem;
    color: $missing-letter;
    background-color: white;
    border-radius: 15px;
    border: $missing-letter 2px solid;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px black;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    opacity: 0;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.main-container {
    height: 100vh;


    section {
        height: 100vh;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        transition: opacity 300ms ease-out;

        .menu {
            min-width: 300px;
            min-height: 250px;
            width: 50vw;
            height: 40vh;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 0px 5px black;
            font-size: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            overflow: hidden;
            user-select: none;
            transition: transform 300ms ease-out, opacity 400ms ease-out;

            label, button {
                font-size: 2rem;
                font-weight: bolder;
                border-radius: 8px;
                background-color: transparent;
                padding: 0.5rem;
            }

        
            
            .game-type {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 5fr;
                margin-bottom: 1rem;
                
                span{
                    @include flexCenter();
                    button {
                        color: $extra-color;
                        border: $extra-color 2px solid;
                        margin-right: 20px;
                        transition: color 200ms ease-out, background-color 200ms ease-out, transform 200ms ease-out;
                        &:active {
                            transform: scale(0.95); 
                         }
                    }
                }
            }
            
            .game-difficulty {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 5fr;
                
                span{
                    @include flexCenter();
                    button {
                        transition: color 200ms ease-out, background-color 200ms ease-out, transform 200ms ease-out;

                        &:active {
                            transform: scale(0.95); 
                         }
                    }
                }

                button:nth-child(1) {
                    border: $top-color 2px solid;
                    color: $top-color;
                }
                button:nth-child(2) {
                    border: $mid-color 2px solid;
                    color: $mid-color;
                    margin: 0px 30px;
                }
                button:nth-child(3) {
                    border: $low-color 2px solid;
                    color: $low-color;
                }
            }

            .start-btn {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%, -5%);
                border: $top-color 2px solid;
                background-color: $top-color;
                color: white;
                transition: background-color 200ms ease-out, width 200ms ease-out;
            }

            .loading {
                font-size: 1.5rem;
                color: white;
                display: none;
            }

            .fa-times {
                display: none;
                color: $low-color;
                position: absolute;
                bottom: 0.5rem;
                right: 0.6rem;
                transition: transform 300ms ease-out;

                &:hover {
                    transform: scale(1.2);
                }

                &:active {
                    transform: scale(0.8);
                }
            }

            .ribbon {
                position: absolute;
                width: 15rem;
                height: 3rem;
                bottom: 1rem;
                left: -4.5rem;
                transform: rotate(35deg),;
                background-color: $top-color;
            }
        }
    }
}

.upper-container {
    position: relative;
    background-color: $background-color;
    transition: background-color 700ms ease-out;

    .restart-btn {
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0%;
        transition: transform 500ms linear, opacity 300ms ease-out;
    }

    .word {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;

        .letter {
            position: relative;
            height: 4rem;
            width: 3rem;
            font-size: 3rem;
            color: white;
            display: inline-block;
            margin: 0rem 0.5rem;
            padding: 0rem 0.5rem 2rem 0.5rem;
            text-transform: uppercase;
            text-align: center;
            transition: transform 300ms ease-out, text-shadow 250ms linear, 
                color 250ms linear, font-size 300ms ease-in-out, padding 150ms ease-out;

            &::after {
                content: "";
                width: 100%;
                height: 0.25rem;
                background-color: var(--after-background-color);
                position: absolute;
                top: 100%;
                left: 0;
                transition: background-color 300ms ease-in-out;
            }
        }
    }
    .word-input {
        outline: none;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
        height: 3rem;
        width: 15rem;
        text-align: center;
        border-radius: 10px;
        font-size: 2rem;
        border: none;
        border: black 2px solid;
        box-shadow: inset 0px 0px 5px black;
        caret-color: transparent;
        outline: none;
        text-transform: uppercase;
        opacity: 0;
        transition: border 200ms linear, color 300ms linear, background-color 300ms linear, opacity 300ms ease-out;

        &:focus {
            border: black 2px solid;
        }

    }

    .answers-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 10vw;
        height: 100%;

        .answer {
            color: white;
            font-size: 2rem;
            margin: 1rem;
            text-transform: uppercase;
            color: white;
            font-weight: bolder;
            transition: text-shadow 300ms linear, color 300ms linear, margin 300ms ease-out;
        }
    }

    .description {
        z-index: inherit;
        position: absolute;
        height: 2rem;
        bottom: 1rem;
        right: 1rem;
        text-transform: capitalize;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;
        transition: opacity 300ms ease-out, transform 300ms ease-out;
    }

    .fa-heart {
        @extend .description;
        width: auto;
        bottom: 3rem;
        opacity: 0;
    }
    
    .lives {
        @extend .fa-heart;
        width: auto;
        right: 2.6rem;
    }

    .lower-buttons {
        min-width: 70vw;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        text-align: center;
        display: none;
        transform: translateX(-50%);
        transition: opacity 300ms ease-out;

        button {
            min-width: 20vw;
            padding: 1rem;
            font-size: 2rem;
            border-radius: 8px;
            background-color: transparent;
            text-transform: capitalize;
            color: white;
            border: white 4px solid;
            margin: 3px 1rem;
            box-shadow: 1px 1px 6px black;
            font-weight: bolder;
            transition: box-shadow 200ms ease-out, transform 300ms ease-out;

            &:hover, :focus {
                box-shadow: 1px 1px 15px black;
            }

            &:active {
                box-shadow: none;
            }
        }
    }

    .upper-canvas {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}

.lower-container {
    position: relative;
    background-color: transparent;

    .lower-canvas {
        height: 100%;
        width: 100%;
    }

    .content{
        z-index: 5;
        height: 99.5%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        border-top: white 6px dashed;
        border-bottom: white 6px dashed;
    }

    .logo-container {
        position: absolute;
        inset: 0;
        padding: 15rem;
        .logo {
            fill: white;
        }

    }

    .github {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 1.5rem;

        .fa-github {
            color: white;
        }
    
        .github-link {
            color: white;
        }
    }

    .email {
        position: absolute;
        bottom: 3rem;
        right: 1rem;
        font-size: 1.5rem;

        .fa-envelope {
            color: white;
        }
    
        .email-link {
            color: white;
            text-decoration: underline;
            cursor: pointer;
        }

        div {
            position: absolute;
            top: -200%;
            right: 0.5rem;
            color:  rgb(56, 56, 56);
            background-color: white;
            border-radius: 8px;
            padding: 0.4rem;
            opacity: 0;
            transition: opacity 100ms linear;
            
            &::after {
                content: "";
                z-index: -1;
                width: 20px;
                height: 20px;
                background-color: white;
                position: absolute;
                bottom: -8px;
                right: 1rem;
                border-radius: 3px;
                transform: rotate(45deg);
            }
        }
    }
}

.divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 166, 0, 0.295);

    .divider {
        z-index: inherit;
        height: 100vh;
        width: 10px;
        background-color: black;
    }
}

.white-outline {
    text-shadow: 
        1px 1px 0px white,
        -1px 1px 0px white,
        1px -1px 0px white,
        -1px -1px 0px white;
}

@media all and (max-width: 750px) {

    .logo-container {
        padding: 10rem !important;
    }

    .game-type label,
    .game-difficulty label {
        display: none;
    }

    .ribbon{
        display: none;
    }
}

@media all and (max-width: 450px) {

    .game-type label,
    .game-difficulty label {
        display: block;
    }

    .logo-container {
        padding: 5rem !important;
    }
    .ribbon{
        display: none;
    }

    .menu {
        height: 480px !important;
    }

    .game-type span, 
    .game-difficulty span {
        flex-direction: column !important;

        button {
            margin-bottom: 3px !important;
        }
    }

    .answers-list{
        display: none;
    }

    .start-btn {
        bottom: 0.5rem !important;
    }

    .letter {
        height: 2rem !important;
        width: 1.5rem !important;
        font-size: 1.2rem !important;
    }

    .warning {
        right: 4rem;
        left: 4rem;
    }
}
