$background-color: hsl(105, 60, 35);
$top-color: hsl(105, 60, 35);
$mid-color: hsl(60, 100%, 32%);
$low-color: hsl(2, 100%, 32%);
$extra-color: #50178b;


:root {
    --after-background-color: yellow;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}



body {
    height: 100vh;
    background-color: #f1faee;
    overflow-x: hidden;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.main-container {
    height: 100vh;
    overflow-y: scroll;   
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    section {
        height: 100vh;
        scroll-snap-align: start;
        position: relative;

    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        transition: opacity 300ms ease-out;

        .menu {
            min-width: 400px;
            min-height: 250px;
            width: 50vw;
            height: 40vh;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 0px 5px black;
            font-size: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            overflow: hidden;
            user-select: none;
            // animation: show-up 500ms ease-out;
            transition: transform 300ms ease-out, opacity 400ms ease-out;

            label, button {
                font-size: 2rem;
                font-weight: bolder;
                border-radius: 8px;
                background-color: transparent;
                padding: 0.5rem;
            }

        
            
            .game-type {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 5fr;
                margin-bottom: 1rem;
                
                span{
                    @include flexCenter();
                    button {
                        color: $extra-color;
                        border: $extra-color 2px solid;
                        margin-right: 20px;
                        transition: color 200ms ease-out, background-color 200ms ease-out, transform 200ms ease-out;

                        &:active {
                            transform: scale(0.95); 
                         }
                    }
                }
            }
            
            .game-difficulty {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 5fr;
                
                span{
                    @include flexCenter();
                    button {
                        transition: color 200ms ease-out, background-color 200ms ease-out, transform 200ms ease-out;

                        &:active {
                            transform: scale(0.95); 
                         }
                    }
                }

                button:nth-child(1) {
                    border: $top-color 2px solid;
                    color: $top-color;
                }
                button:nth-child(2) {
                    border: $mid-color 2px solid;
                    color: $mid-color;
                    margin: 0px 30px;
                }
                button:nth-child(3) {
                    border: $low-color 2px solid;
                    color: $low-color;
                }
            }

            .start-btn {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translate(-50%, -5%);
                border: $top-color 2px solid;
                background-color: $top-color;
                color: white;
                transition: background-color 200ms ease-out, width 200ms ease-out;
            }

            .loading {
                font-size: 1.5rem;
                color: white;
                display: none;
            }

            .fa-times {
                display: none;
                color: $low-color;
                position: absolute;
                bottom: 0.5rem;
                right: 0.6rem;
                transition: transform 300ms ease-out;

                &:hover {
                    transform: scale(1.2);
                }

                &:active {
                    transform: scale(0.8);
                }
            }

            .ribbon {
                position: absolute;
                width: 15rem;
                height: 3rem;
                bottom: 1rem;
                left: -4.5rem;
                transform: rotate(35deg),;
                background-color: $top-color;
                // border-top: white 2px dotted;
            }
        }
    }
}

.upper-container {
    position: relative;
    background-color: $background-color;
    transition: background-color 700ms ease-out;

    .restart-btn {
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transition: transform 500ms linear;
    }

    .word {
        // height: 3rem;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;

        .letter {
            position: relative;
            height: 4rem;
            width: 3rem;
            font-size: 3rem;
            color: white;
            display: inline-block;
            margin: 0rem 0.5rem;
            padding: 0rem 0.5rem 2rem 0.5rem;
            text-transform: uppercase;
            text-align: center;
            transition: transform 300ms ease-out, text-shadow 250ms linear, 
                color 250ms linear, font-size 300ms ease-in-out, padding 150ms ease-out;

            &::after {
                content: "";
                width: 100%;
                height: 0.4rem;
                background-color: var(--after-background-color);
                position: absolute;
                top: 100%;
                left: 0;
                transition: background-color 300ms ease-in-out;
            }
        }
    }

    .word-input {
        outline: none;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
        height: 3rem;
        width: 15rem;
        text-align: center;
        border-radius: 10px;
        font-size: 2rem;
        border: none;
        border: black 2px solid;
        box-shadow: inset 0px 0px 5px black;
        caret-color: transparent;
        outline: none;
        text-transform: uppercase;
        opacity: 0;
        transition: border 200ms linear, color 300ms linear, background-color 300ms linear, opacity 300ms ease-out;

        &:focus {
            border: black 2px solid;
        }

    }

    .answers-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 10vw;
        height: 100%;

        .answer {
            color: white;
            font-size: 2rem;
            margin: 1rem;
            text-transform: uppercase;
            // color: rgb(218, 34, 34);
            color: white;
            font-weight: bolder;
            transition: text-shadow 300ms linear, color 300ms linear, margin 300ms ease-out;
        }
    }

    .description {
        z-index: inherit;
        position: absolute;
        height: 2rem;
        min-width: 3rem;
        bottom: 1rem;
        right: 1rem;
        text-transform: capitalize;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;
        transition: opacity 300ms ease-out, transform 300ms ease-out;
    }

    .lives {
        @extend .description;
        bottom: 3rem;
    }
}

.lower-container {
    background-color: red;
}


@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes fade-out {
    from {opacity: 100;}
    to {opacity: 0;}
}

@keyframes drop-down {
    from { 
        opacity: 100;
        transform: translateY(0);
    }

    to { 
        opacity: 0;
        transform: translateY(150%);
    }
}

@keyframes show-up {
    from { 
        opacity: 0;
        transform: translateY(150%);
    }

    to { 
        opacity: 100;
        transform: translateY(0);
    }
}